<TABLE_IMPORT>
   <TABLE_INFO>
      <ACTION>ADD_ONLY</ACTION>
      <TABLE_ID>10911991</TABLE_ID>
      <FILE_TYPE>2</FILE_TYPE>
      <HASHEADERS>true</HASHEADERS>
   </TABLE_INFO>
   <MAPPING>
        <COLUMN>
          <NAME>DES_FLUJO</NAME>
          <INDEX>1</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>DES_ARTE</NAME>
          <INDEX>2</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>FEC_EJECUCION</NAME>
          <INDEX>3</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>COD_TIPO_DOCUMENTO</NAME>
          <INDEX>4</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>NRO_DOCUMENTO</NAME>
          <INDEX>5</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>COD_UNICO_CLIENTE</NAME>
          <INDEX>6</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>NOM_PRODUCTO</NAME>
          <INDEX>7</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>FEC_APERTURA</NAME>
          <INDEX>8</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>FEC_BIENVENIDA</NAME>
          <INDEX>9</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>IND_APERT_DIGITAL</NAME>
          <INDEX>10</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>COD_SEGMENTO</NAME>
          <INDEX>11</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>IND_NUEVO_CLIENTE</NAME>
          <INDEX>12</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>IND_TARJETA_DEBITO</NAME>
          <INDEX>13</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>NOM_TARJETA_DEBITO</NAME>
          <INDEX>14</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>IND_USO_DIGITAL</NAME>
          <INDEX>15</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>DES_MARCA_TIPO</NAME>
          <INDEX>16</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>DES_RUBRO</NAME>
          <INDEX>17</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>IND_CAMP_TC</NAME>
          <INDEX>18</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>IND_SEGURO</NAME>
          <INDEX>19</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>DES_CAMP_SEG</NAME>
          <INDEX>20</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>DES_PROMO1</NAME>
          <INDEX>21</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>DES_PROMO2</NAME>
          <INDEX>22</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
        <COLUMN>
          <NAME>DES_PROMO3</NAME>
          <INDEX>23</INDEX>
          <INCLUDE>true</INCLUDE>
        </COLUMN>
   </MAPPING>
</TABLE_IMPORT>